<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StarLabs API</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/img/starlabs-logo.jpg') }}">
    <script src="https://kit.fontawesome.com/fc20eca1ac.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}" />
    <style>
      @media (max-width: 991px) {
        .align-md {
          align-items: center;
        }
      }
    </style>
  </head>