{% include 'base.html' %}
{% include 'nav.html' %}
<link rel="stylesheet" href="static/css/generate_api_key.css">

<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="text-center">
            <p>Click the button below to generate an API key.</p>
            <button id="generate-button" class="btn btn-primary">Generate API Key</button>
            <h2>Your Generated API Key:</h2>
            <p id="api-key">{{ api_key }}</p>
        </div>
    </div>

<script>
    const generateButton = document.getElementById('generate-button');

    const apiKeyElement = document.getElementById('api-key');

    generateButton.addEventListener('click', async () => {

        const response = await fetch('/generate-api-key', {
            method: 'POST'
        });
        
        if (response.ok) {

            const data = await response.json();
            apiKeyElement.textContent = data.key;
        } else {
            apiKeyElement.textContent = 'Error generating API key.';
        }
    });
</script>
<script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>