{% include "nav.html" %}
<style>
  body {
    font-family: Arial, sans-serif;
  }
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  th {
    background-color: #f2f2f2;
  }
  .search-form label {
    margin-right: 10px;
  }
  .search-form input[type="text"],
  .search-form input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-top: 80px;
  }
  .search-form button[type="submit"] {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .search-form button[type="submit"]:hover {
    background-color: #45a049;
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 8px 12px;
    background-color: #f2f2f2;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
  }
  .pagination a.bg-primary {
    color: white;
  }
  .pagination a:hover {
    background-color: #ddd;
  }
  .title {
    max-width: 700px;
    overflow: break-word;
    text-overflow: ellipsis;
  }

  .users-container {
    min-height: 90vh;
  }

  a.user-managment-btn {
    min-width: 100%;
  }
        
  .form-control {
    min-width: 300px;
  }

</style>
<div class="container users-container d-flex flex-column justify-content-center align-self-center mb-5 center-container">
  <form action="/logs" method="get" class="search-form">
    <input type="text" id="search_query" name="search_query" placeholder="Search by name or email" value="{{ search_query }}" required>
    <button type="submit" class="bg-primary">Search</button>
  </form>
  <div class="table-responsive mt-2">
    <table class="table table-bordered">
      <thead class="bg-secondary text-light">
        <tr>
          <th>Admin Username</th>
          <th>User Affected</th>
          <th>Action</th>
          <th>Timestamp</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
          <tr class="fw-bolder">
            <td>{{ log.admin_username }}</td>
            <td>{{ log.edited_user_username }}</td>
            <td>
              {% if "Deleted" in log.details %}
                <span class="btn btn-danger user-managment-btn">Delete</span>
              {% else %}
                <span class="btn btn-warning user-managment-btn">Edit</span>
              {% endif %}
            </td>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.details }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
<div class="pagination">
  {% if current_page > 1 %}
      <a href="/logs?page={{ current_page - 1}}{%if search_query %}&search_query={{ search_query}}{% endif %}">Previous</a>
  {% endif %}

  {% if total_pages <=7 %}
      {% for page in range(1, total_pages + 1) %}
          {% if page == current_page %}
              <a href="/logs?page={{ page }}{% if search_query %}&search_query={{ search_query }}{% endif %}" class="bg-primary">{{ page }}</a>
          {% else %}
              <a href="/logs?page={{ page }}{% if search_query %}&search_query={{ search_query }}{% endif %}">{{ page }}</a>
          {% endif %}
      {% endfor %}
  {% else %}
      {% if current_page <=4%}
          {% for page in range(1, current_page + 3) %}
              {% if page == current_page %}
                  <a href="/logs?page={{ page }}{% if search_query %}&search_query={{ search_query }}{% endif %}" class="bg-primary">{{ page }}</a>
              {% else %}
                  <a href="/logs?page={{ page }}{% if search_query %}&search_query={{ search_query }}{% endif %}" class="bg-primary">{{ page }}</a>
              {% endif %}
          {% endfor %}
          ...
          <a href="/logs?page={{ total_pages }}{% if search_query %}&search_query={{ search_query }}{% endif %}">{{ total_pages }}</a>
      {% elif current_page > total_pages - 2 %}
          <a href="/logs?page=1{% if search_query %}&search_query={{ search_query }}{% endif %}">1</a>
          ...
          {% for page in range(total_pages - 2, total_pages +1) %}
              {% if page == current_page %}
                  <a href="/logs?page={{ page }}{% if search_query %}&search_query={{ search_query }}{% endif %}" class="bg-primary">{{ page }}</a>
              {% else %}
                  <a href="/logs?page={{ page }}{% if search_query %}&search_query={{ search_query }}{% endif %}">{{ page }}</a>
              {% endif %}
          {% endfor %}
      {% else %}
          <a href="/logs?page=1{% if search_query %}&search_query={{ search_query }}{% endif %}">1</a>
          ...
          {% for page in range(current_page - 1, current_page + 2 )%}
              {% if page == current_page %}
                  <a href="/logs?page={{ page }}{% if search_query %}&search_query={{ search_query }}{% endif %}" class="bg-primary">{{ page }}</a>
              {% else %}
                  <a href="/logs?page={{ page }}{% if search_query %}&search_query={{ search_query }}{% endif %}">{{ page }}</a>
              {% endif %}
          {% endfor %}
          ...
          <a href="/logs?page={{ total_pages }}{% if search_query %}&search_query={{ search_query }}{% endif %}">{{ total_pages }}</a>
      {% endif %}
  {% endif %}
  {% if current_page < total_pages %}
      <a href="/logs?page={{current_page + 1}}{%if search_query %}&search_query={{search_query}}{% endif %}">Next</a>
  {% endif %}


</body>
</html>