{% include "nav.html" %}

<style>
  body {
font-family: Arial, sans-serif;
}
h1 {
margin-bottom: 20px;
text-align: center;
}
table {
width: 100%;
border-collapse: collapse;
border: 1px solid #ccc;
}
th,
td {
padding: 10px;
text-align: left;
border-bottom: 1px solid #ccc;
}
th {
background-color: #f2f2f2;
}
.search-form label {
margin-right: 10px;
}
.search-form input[type="text"],
.search-form input[type="number"] {
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
}
.search-form button[type="submit"] {
padding: 8px 16px;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}
.search-form button[type="submit"]:hover {
background-color: #45a049;
}
.pagination {
margin-top: 20px;
text-align: center;
}
.pagination a {
display: inline-block;
margin: 0 5px;
padding: 8px 12px;
background-color: #f2f2f2;
color: #333;
text-decoration: none;
border-radius: 4px;
}
.pagination a.current {
background-color: #4caf50;
color: white;
}
.pagination a:hover {
background-color: #ddd;
}
.title {
max-width: 700px;
overflow: break-word;
text-overflow: ellipsis;
}

.users-container {
min-height: 120vh;
}

a.user-managment-btn {
min-width: 100%;
}
    
.form-control {
min-width: 300px;
}

</style>

<div class="container users-container d-flex flex-column justify-content-center align-self-center mb-5 center-container">
  <form action="/search/user_affected" method="get" class="search-form">
    <input type="text" id="search_username" name="user_affected" placeholder="Username..." required>
    <button type="submit" class="bg-primary">Search</button>
  </form>
  <div class="table-responsive mt-2">
    <table class="table table-bordered">
      <thead class="bg-secondary text-light">
        <tr>
          <th>Admin Username</th>
          <th>User Affected</th>
          <th>Action</th>
          <th>Timestamp</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
          <tr class="fw-bolder">
            <td>{{ log.admin_username }}</td>
            <td>{{ log.edited_user_username }}</td>
            <td>
              {% if "Deleted" in log.details %}
                <span class="btn btn-danger user-managment-btn">Delete</span>
              {% else %}
                <span class="btn btn-warning user-managment-btn">Edit</span>
              {% endif %}
            </td>
            <td>{{ log.timestamp }}</td>
            <td>{{ log.details }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
<div class="pagination">
  {% set base_url = '/logs' %}
  {% if user_affected %}
    {% set base_url = base_url ~ '?user_affected=' ~ user_affected %}
  {% endif %}
  
  {% if current_page > 1 %}
    <a href="{{ base_url }}?page={{ current_page - 1 }}">Previous</a>
  {% endif %}
  
  {% set start_page = current_page - 2 if current_page - 2 > 0 else 1 %}
  {% set end_page = current_page + 3 if current_page + 3 <= total_pages else total_pages %}
  
  {% for page in range(start_page, end_page + 1) %}
    <a href="{{ base_url }}?page={{ page }}" {% if page = current_page %}class="bg-primary"{% endif %}>{{ page }}</a>
  {% endfor %}
  
  {% if current_page < total_pages %}
    <a href="{{ base_url }}?page={{ current_page + 1 }}">Next</a>
  {% endif %}
</div>


</body>
</html>