{% include "base.html" %}
{% include "nav.html" %}
<link rel="stylesheet" href="static/css/messages.css">

<div id="chat-messages">
  <ul>
    {% for message in messages %}
      <li>
        <p class="message-timestamp">{{ message.timestamp }}</p>
        <p class="message-content"><strong>{{ message.username }}:</strong> {{ message.message }}</p>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="input-container">
  <input type="text" id="message-input" placeholder="Type your message...">
  <button id="send-button">Send</button>
</div>

<script>
  const username = "{{ username }}"; 
</script>
<script src="static/js/messages.js"></script>
</body>
</html>
