{% include "base.html" %}
{% include "nav.html" %}

<link rel="stylesheet" href="static/css/messages.css">

</head>
<body>
    <h1>WebSocket Chat</h1>
    <div id="chat-container">
        <div id="chat-messages">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        <input type="text" id="message-input" placeholder="Type your message...">
        <button id="send-button">Send</button>
    </div>

    <script src="static/js/messages.js"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
